


   
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <script>
        function takeInputValue(that) {
            that.parentElement.querySelector('.hiden_name').value = that.parentElement.parentElement.parentElement.parentElement.querySelector('.name_input').value 
        }
    </script>
</body>
</html>