<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
        >
          <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
         
            <li class="nav-item menu-open">
              <a href="/admin/" class="nav-link <% if(path == '/admin'){ %>active<% } %> ">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Видео 
                </p>
              </a>
              
            </li>   

            <li class="nav-item menu-open ">
              <a href="/admin/language-ru" class="nav-link <% if(path == '/admin/language-ru'){ %>active<% } %>">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Язык Ru 
                </p>
              </a>
              
            </li>  

            <li class="nav-item menu-open">
              <a href="/admin/language-en" class="nav-link <% if(path == '/admin/language-en'){ %>active<% } %>">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Язык En 
                </p>
              </a>
              
            </li>  

            <li class="nav-item menu-open">
              <a href="/admin/language-uz" class="nav-link <% if(path == '/admin/language-uz'){ %>active<% } %>">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Язык Uz 
                </p>
              </a>
              
            </li>  
       
            
            
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>